# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Need these as I'm coding on Windows and compile(and run) on Linux, well WSL to be exact
* text eol=lf
build.bat text eol=crlf